// .blogPost {
//     padding-top: 80px;
//     background-color: $secondary;
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//     border-bottom: 1px solid red;
// }

// aside {
//     // border: 1px solid red;
//     width: calc(25% + 20px);

//     img {
//         box-shadow: -20px 20px $quaternary;
//         margin-left: 20px;
//     }
    
//     .textContainer {
//         background-color: $quaternary;
//         border: 20px solid $quaternary;

//         ul.aside {
//             list-style-type: disc;
//             margin-left: 20px;
//         }
//     }

// }

// article {
//     // border: 1px solid red;
//     width: 60%;
//     border-bottom: 5px solid $quaternary;
//     position: relative;
//     top: -225px;
    
//     img {
//         box-shadow: 20px 20px $quaternary;
//         width: calc(100% - 20px);
//         margin-bottom: 20px;
//     }
    
//     .wrapper {
//         // border: 1px solid green;
//         background-color: $primary;
//         // border-bottom: 5px solid $quaternary;
//         margin-left: 0;
        
//         .textContainer {
//             width: 98%;
//             background-color: $primary;
//             border-right: 5px solid $quaternary;
//             margin-left: 13%;
//             padding-bottom: 10px;
//             padding-right: 15%;
//         }
//     }

// }
.blogMain {
    display: flex;
    justify-content: space-between;
    background-color: $secondary;
}

.blogPost {
    width: 60%;
    border: 1px solid red;
    position: relative;
    top: -150px;
    
    .wrapper {
        border: 1px solid green;
        margin-right: 0;
        margin-left: 15%;
        width: 85%;
    }
}

aside {
    width: calc(25% + 20px);
    border: 1px solid green;
    position: relative;
    right: 0;

    .textContainer {
        border: 1px solid blue;

        ul {
            border: 1px solid rebeccapurple;
        }
    }

}