.blogMain {
    display: flex;
    justify-content: space-between;
    background-color: $secondary;
}

.blogPost {
    width: 60%;
    // border: 1px solid red;
    position: relative;
    top: -150px;

    .blueCouch {
        box-shadow: 20px 20px $quaternary;
        width: calc(100% - 20px);
        margin-bottom: 20px;
    }
    
    .wrapper {
        margin-right: 0;
        margin-left: 15%;
        width: 85%;
    }

    .textContainer {
        padding: 20px 50px 0 0;
        // border: 1px solid maroon;
    }
}

article {
    background-color: $primary;
    border-bottom: 10px solid $quaternary;
    border-right: 10px solid $quaternary;
}

aside {
    width: calc(25% + 20px);
    margin-top: 100px;

    .imgContainer {
        img {
            box-shadow: -20px 20px $quaternary;
            margin-left: 20px;
        }
    }

    .textContainer {
        // border: 1px solid blue;
        background-color: $quaternary;
        padding: 5px 20px 10px 20px;

        ul {
            // border: 1px solid rebeccapurple;
            list-style-type: disc;
            padding-left: 20px;

            li {
                border: 1px solid transparent;
            }

            li a:hover, 
            li a:focus {
                border: 1px dotted $tertiary;
            }
        }
    }

}
