body {
    background-color: $primary;
}

.wrapper {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

/* .findOutMore styling */
a.moreInfo {
    background-color: $tertiary;
    padding: 10px 20px;
    border: 1px solid $tertiary;
    &:hover {
        color: $quaternary;
        border: 1px solid $quaternary;
    }
    &:focus {
        color: $quaternary;
        border: 1px solid $quaternary;
    }
}

button {
    background-color: $tertiary;
    padding: 10px 0 10px;
    border: 1px solid $tertiary;
    &:hover {
        color: $quaternary;
        border: 1px solid $quaternary;
    }
    &:focus {
        color: $quaternary;
        border: 1px solid $quaternary;
    }
}

img {
    max-width: 100%;
    display: block;
}

ul {
    padding: 0;
}