footer {
    background-color: $fontColor;
    p {
        color: $primary;
        text-align: center;
        padding: 5px 0;
        // margin: 0;
        &.bodyText {
            margin-bottom: 0;
        }
    }
}
