/* home page header */
header.homeHeader {
    background: url(../sanctuary-helpers-final-images/header-home.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100%;
    margin-bottom: 50px;
}

header.homeHeader .wrapper .menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

ul.navBar {
    display: flex;
    flex-direction: row;
    width: 35vw;
    justify-content: space-between;
} 

.navBar li a {
    border-bottom: 3px solid transparent;
    &:hover,
    &:focus {
        border-bottom: 3px solid $quaternary;
    }
}

h2 {
    // width: 50vw;
    padding-left: 12%;
    // border: 1px solid red;
    span {
        display: block;
    }
}

header img {
    position: relative;
    left: 0;
    bottom: -50px;
    width: 55%;
}

.menuIcon {
    display: none;
}

/* contact page background image styling */
header.contactHeader {
    height: 65vh;
    background: url(../sanctuary-helpers-final-images/contact-image.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    // background-color: $secondary;
    // border: 1px solid red;
}

/* blog page background image styling */
header.blogHeader {
    height: 65vh;
    background: url(../sanctuary-helpers-final-images/blog-image.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    // background-color: $secondary;
}

/* common header styling for contact and blog page */
header.contactHeader .wrapper nav, 
header.blogHeader .wrapper nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

    /* .logo h1 */
.contactHeader h1, 
.blogHeader h1 {
    font-family: $headingFont;
    width: 25%;
    margin-top: 15px;
}

.contactHeader h2,
.blogHeader h2 {
    margin-top: 100px;
}