/* home page header */
header.homeHeader {
    height: 100vh;
    background: url(../sanctuary-helpers-final-images/header-home.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    margin-bottom: 50px;
}

header.homeHeader .wrapper nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

ul.navBar {
    display: flex;
    flex-direction: row;
    width: 45%;
    justify-content: space-between;
} 

.navBar li a {
    border-bottom: 3px solid transparent;
    &:hover,
    &:focus {
        border-bottom: 3px solid $quaternary;
    }
}

h2 {
    width: 50%;
}

header img {
    position: relative;
    left: 0;
    bottom: -20px;
    width: 54%;
}

/* contact page background image styling */
header.contactHeader {
    height: 65vh;
    background: url(../sanctuary-helpers-final-images/contact-image.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    // position: relative;
    // margin-bottom: 50px;
}

/* blog page background image styling */
header.blogHeader {
    height: 65vh;
    background: url(../sanctuary-helpers-final-images/blog-image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* common header styling for contact and blog page */
header.contactHeader .wrapper nav, 
header.blogHeader .wrapper nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

    /* .logo h1 */
.contactHeader h1, 
.blogHeader h1 {
    font-family: $headingFont;
    width: 25%;
    margin-top: 15px;
}

.contactHeader h2,
.blogHeader h2 {
    margin-top: 100px;
}