// breakpoints: (responsive for wide screens?  @ 1400px?), 


@media (max-width: 1400px) {
    /* styling for header in contact.html and blog.html */
    header.contactHeader,
    header.blogHeader {
        height: 45vh;
    }

    /* styling for index.html */
    .locations .wrapper {
        padding-bottom: 150px;
    }

    .contact .textContainer {
        margin-left: 70px;
    }
}

@media (max-width: 1100px) {
    header img {
        bottom: 0;
    }

    header.contactHeader, 
    header.blogHeader {
        height: 40vh;
    }

    /* styling for contact.html */ 
    .contact form {
        position: static;
    }

    .contact .wrapper {
        align-items: center;
    }

    /* styling for blog.html */
    .blogPost {
        position: static;
    }
    .comments .wrapper, 
    .commentForm .wrapper {
        width: 80vw;
        // border: 1px solid blue;
    }
} /* end for max-width 1100px */

@media (max-width: 950px) {
    h2 {
        font-size: 2.8rem;
    }

    ul.navBar {
        width: 40vw;
    }
}

@media (max-width: 810px) {
    section {
        padding: 60px 0 60px 0;
    }
    /* typography changes */
    h2 {
        font-size: 2.5rem;
        line-height: 2.5rem;
        width: 60vw;
    }

    h3 {
        font-size: 1.4rem;
        line-height: 1.8rem;
    }

    h4 {
        font-size: 1rem;
        line-height: 1.2rem;
    }

    p {
        &.bodyText {
            font-size: 0.9rem;
            line-height: 1.2rem;
        }
    }

    /* styling for index.html */

        /* styling for menu icon and nav bar */

    .menu {
        position: relative;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;

        label.menuIcon, 
        input[type="checkbox"] {
            display: inline-block;
            margin-top: 20px;
            background-color: rgba($color: $primary, $alpha: 0.8);
            padding: 10px;
            border: 1px solid transparent;
            height: 2.1rem;
        }
    }
    
    .menu nav {
        display: flex;
        flex-direction: row-reverse;
        transition: 0.5s;
        z-index: 20;
        position: absolute;
        right: -500px;
        top: 45px;
        
        ul {
            width: 160px;
            flex-direction: column;
            background-color: rgba($color: $primary, $alpha: 0.8);
            padding: 20px;
        }
    }
    
    input[type=checkbox] {
        opacity: 0;
        position: absolute;
        right: 0;
        &:checked ~ nav {
            right: 0;
        }
        &:hover + label,
        &:focus + label {
            border: 1px dotted $quaternary;
        }
    
        /* styling for header in index.html */
    header img {
        width: 50%;
        bottom: 0;
    }

    header.homeHeader {
        margin-bottom: 0;
    }

    .links ul {
        flex-direction: column;

        li {
            width: 80%;
            margin: 0 auto;
        }
    }

        /* styling .programs and .locations together */
    .programs, 
    .locations {
        flex-direction: column;

        .imgContainer {
            position: static;
            width: 80%;
            margin: 0 auto 60px;
        }

        .wrapper {
            width: 80%;
            padding: 0;

            .textContainer {
                text-align: center;
            }
        }
    }

    .programs .wrapper {
        padding-bottom: 0;

        .textContainer {
            padding-bottom: 0;
        };
    }

    .locations {
        flex-direction: column-reverse;
        padding-top: 0;

        .wrapper {
            padding-bottom: 60px;
        }
    }

    .banner {
        height: 40vh;
    }

    /* header styling for contact.html and blog.html */
    header.contactHeader, 
    header.blogHeader {
        height: 30vh;
    }

    /* styling for contact.html */
    section.contact .wrapper {
        flex-direction: column;
    }

    .contact form {
        position: static;
        width: 80%;
        margin: 0 auto;
    }

    form.messageForm {
        padding-top: 40px;
    }

    .contact .textContainer {
        padding-top: 60px;
        margin: 0 auto;
        text-align: center;

        ul {
            margin: 0 auto 1rem;
            width: 100%;
        }
    }

    /* styling for blog.html */
    .blogMain {
        flex-direction: column;
    }

    .blogPost {
        width: 100vw;

        .blueCouch {
            width: 60%;
            margin: 20px auto 20px;
        }

        .wrapper {
            width: 80vw;
            // border: 1px solid green;
            margin: 0 auto;
        }
    }

    article {
        background-color: $secondary;
        border: none;

        .wrapper .textContainer {
            background-color: $primary;
            padding: 35px;
            box-shadow: 10px 10px $quaternary;
        }
    }

    aside {
        width: 60%;
        // border: 1px solid red;
        margin: 0 auto;
        position: relative;
        top: -1150px;
        display: flex;
        flex-direction: row;

        .imgContainer {
            // border: 1px solid blue;
            padding-bottom: 35px;
            width: 20vw;
            margin: 0 auto;
            position: absolute;
            bottom:0 ;

            img {
                margin: 0 auto;
            }
        }

        .textContainer {
            p + h4 {
                text-align: right;
                padding-right: 30px;
            }
            ul { 
                padding-left: 50%;
                li {
                    font-size: 0.8rem;
                    // padding-top: 0;
                }
            }
        }
    }

    section.comments, 
    section.commentForm {
        // border: 1px solid pink;
        position: relative;
        bottom: -400px;
    }

} /* end of max-width 810px */

@media (max-width: 780px ) {
    h2 {
        font-size: 2rem;
        width: 50vw;
    }
}

@media (max-width: 760px) {
    .blogPost .wrapper {
        width: 90%;
    }

    aside .textContainer {
        width: 80%;
        top: -1300px;
    }
}

// @media (max-width: 640px) {
//     .links 
// }

@media (max-width: 320px) {
    /* typography */
    h1 {
        font-size: 0.8rem;
        line-height: 1rem;
    }

    h2 {
        font-size: 1.2rem;
        line-height: 1.5rem;
        padding-left: 0;
        position: relative;
        bottom: 3rem;
        background-color: rgba($color: $primary, $alpha: 0.8);
        padding: 10px;
    }

    header img {
        bottom: 0px;
    }  

}
// 