// HEADER: font-family: 'Kumar One Outline', cursive;

// HEADING: font-family: 'Kumar One', cursive;

// Nav and Body: font-family: 'Lato', sans-serif;

/* site font variables */
$headerFont: 'Kumar One Outline', cursive;

$headingFont: 'Kumar One', cursive;

$bodyFont: 'Lato', sans-serif;

$baseFontSize: 1rem;

/* site colours */
$primary: #F5F5F5;
$secondary: #E0FDDF;
$tertiary: #065635;
$quaternary: #F8FB05;
$fontColor: #151514;