html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* site font variables */
/* site colours */
html {
  font-size: 125%;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  color: #151514;
}

h1 {
  font-family: "Kumar One", cursive;
  font-size: 1.1rem;
  color: #151514;
  line-height: 1.2rem;
  letter-spacing: 0.16rem;
  text-transform: uppercase;
}

h2 {
  font-family: "Kumar One Outline", cursive;
  font-size: 3.4rem;
  color: #151514;
  line-height: 3.2rem;
  text-transform: uppercase;
  margin: 0;
}

h3 {
  font-family: "Kumar One", cursive;
  font-size: 1.65rem;
  line-height: 2.9rem;
  letter-spacing: 0.105rem;
  text-transform: uppercase;
  margin: 0;
}

h4 {
  font-family: "Kumar One", cursive;
  font-size: 1.2rem;
  line-height: 1.5rem;
  letter-spacing: 0.105rem;
  text-transform: uppercase;
  margin: 30px 0;
}

.links i {
  font-size: 1.4rem;
  line-height: 2.9rem;
}

p.bodyText {
  line-height: 1.6rem;
  letter-spacing: 0.1rem;
  margin-top: 0;
  margin-bottom: 30px;
}
p.date {
  text-transform: uppercase;
  font-weight: 700;
}
p span.author {
  font-style: italic;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: #151514;
}

ul {
  list-style: none;
}

nav ul li a {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  color: #151514;
  font-weight: 700;
  text-align: center;
  line-height: 1.45rem;
  letter-spacing: 0.07rem;
  text-transform: uppercase;
}

a.findOutMore {
  font-family: "Kumar One", cursive;
  font-size: 1rem;
  color: #F5F5F5;
  text-align: center;
  line-height: 1.6rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

button {
  font-family: "Kumar One", cursive;
  font-size: 1rem;
  color: #F5F5F5;
  text-align: center;
  line-height: 1.6rem;
  letter-spacing: 0.05rem;
  width: 100%;
}

ul.aside li {
  font-family: "Lato", sans-serif;
  line-height: 1.6rem;
  letter-spacing: 0.1rem;
  margin-top: 0;
}

body {
  background-color: #F5F5F5;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

/* .moreInfo styling */
a.moreInfo {
  font-family: "Kumar One", cursive;
  color: #F5F5F5;
  text-transform: uppercase;
  background-color: #065635;
  padding: 10px 20px;
  border: 1px solid #065635;
}
a.moreInfo:hover {
  color: #F8FB05;
  border: 1px solid #F8FB05;
}
a.moreInfo:focus {
  color: #F8FB05;
  border: 1px solid #F8FB05;
}

button {
  background-color: #065635;
  padding: 10px 0 10px;
  border: 1px solid #065635;
  text-transform: uppercase;
}
button:hover {
  color: #F8FB05;
  border: 1px solid #F8FB05;
}
button:focus {
  color: #F8FB05;
  border: 1px solid #F8FB05;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  padding: 0;
}

/* home page header */
header.homeHeader {
  background: url(../sanctuary-helpers-final-images/header-home.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100%;
  margin-bottom: 50px;
}

header.homeHeader .wrapper nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

ul.navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 45%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navBar li a {
  border-bottom: 3px solid transparent;
}
.navBar li a:hover, .navBar li a:focus {
  border-bottom: 3px solid #F8FB05;
}

h2 {
  width: 50vw;
  padding-left: 12%;
}

header img {
  position: relative;
  left: 0;
  bottom: -50px;
  width: 55%;
}

/* contact page background image styling */
header.contactHeader {
  height: 65vh;
  background: url(../sanctuary-helpers-final-images/contact-image.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

/* blog page background image styling */
header.blogHeader {
  height: 65vh;
  background: url(../sanctuary-helpers-final-images/blog-image.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

/* common header styling for contact and blog page */
header.contactHeader .wrapper nav,
header.blogHeader .wrapper nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* .logo h1 */
.contactHeader h1,
.blogHeader h1 {
  font-family: "Kumar One", cursive;
  width: 25%;
  margin-top: 15px;
}

.contactHeader h2,
.blogHeader h2 {
  margin-top: 100px;
}

.blogMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #E0FDDF;
}

.blogPost {
  width: 60%;
  position: relative;
  top: -150px;
}
.blogPost .blueCouch {
  -webkit-box-shadow: 20px 20px #F8FB05;
          box-shadow: 20px 20px #F8FB05;
  width: calc(100% - 20px);
  margin-bottom: 20px;
}
.blogPost .wrapper {
  margin-right: 0;
  margin-left: 15%;
  width: 85%;
}
.blogPost .textContainer {
  padding: 20px 50px 0 0;
}

article {
  background-color: #F5F5F5;
  border-bottom: 10px solid #F8FB05;
  border-right: 10px solid #F8FB05;
}

aside {
  width: calc(25% + 20px);
  margin-top: 100px;
}
aside .imgContainer img {
  -webkit-box-shadow: -20px 20px #F8FB05;
          box-shadow: -20px 20px #F8FB05;
  margin-left: 20px;
}
aside .textContainer {
  background-color: #F8FB05;
  padding: 5px 20px 10px 20px;
}
aside .textContainer ul {
  list-style-type: disc;
  padding-left: 20px;
}

section {
  padding: 80px 0 80px 0;
}

/* styling for home page */
/* .materials section styling */
.materials .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.materials .textContainer {
  -webkit-box-flex: 1;
      -ms-flex: 1 3 66.6%;
          flex: 1 3 66.6%;
  padding-right: 50px;
}

.materials .imgContainer {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 33.3%;
          flex: 2 1 33.3%;
  position: relative;
}
.materials .imgContainer img {
  position: absolute;
  right: 0;
  top: 33px;
  -webkit-box-shadow: -20px 20px #F8FB05;
          box-shadow: -20px 20px #F8FB05;
}

/* .gallery section styling */
section.gallery {
  background-color: #E0FDDF;
}

ul.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
ul.gallery li {
  width: calc((100% / 3) - 25px);
}

/* .links section styling */
.links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.links ul li {
  width: calc(50% - 5px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.icon {
  width: 3rem;
  height: 3rem;
  background-color: #F8FB05;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  margin-right: 10px;
}

.linksContainer p {
  padding-left: 4rem;
}

/* .programs section styling */
.programs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 20px;
  background-color: #E0FDDF;
  position: relative;
}

.programs .imgContainer,
.programs .wrapper {
  width: calc(50% - 100px);
}

.programs .imgContainer {
  position: absolute;
  bottom: 0;
}

.programs .textContainer {
  min-height: calc(58px + 128px + 58px);
}

.programs img {
  -webkit-box-shadow: 20px 20px #F8FB05;
          box-shadow: 20px 20px #F8FB05;
}

.programs .wrapper {
  margin-right: 0;
}

.programs .textContainer {
  width: 70%;
  min-height: calc(116px + 128px);
}

/* .locations section styling */
.locations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #E0FDDF;
  padding: 20px 0 0 0;
}

.locations .imgContainer,
.locations .wrapper {
  width: calc(50% - 100px);
}

.locations .imgContainer {
  position: relative;
  right: 0;
}

.locations img {
  -webkit-box-shadow: -20px 20px #F8FB05;
          box-shadow: -20px 20px #F8FB05;
  position: relative;
  bottom: -45px;
}

.locations .wrapper {
  margin-right: 0;
}

.locations .textContainer {
  width: 70%;
  text-align: right;
  min-height: calc(116px + 128px);
  position: relative;
  top: 60px;
}

/* .banner section styling */
.banner {
  background-image: url(../sanctuary-helpers-final-images/banner-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 58vh;
}

/* .search section styling */
.search .wrapper {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 80px;
}
.search .wrapper h3 {
  text-align: center;
}
.search .wrapper .moreInfo {
  margin: 0 auto;
}

/* styling for contact page */
section.contact {
  background-color: #E0FDDF;
}
section.contact .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact .textContainer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 65%;
}

.address span {
  display: block;
}
.address span.email {
  margin-bottom: 20px;
}

.contact form {
  position: relative;
  top: -230px;
}

/* styling for blog page */
section.comments {
  padding-bottom: 0;
}

.commentContainer {
  width: 100%;
}
.commentContainer .commentPost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.commentContainer .commentPost .imgContainer {
  padding-top: 20px;
}
.commentContainer .commentPost .textContainer {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
}

/* form styling in contact.html */
form.messageForm {
  width: 70%;
  background-color: #F5F5F5;
  padding: 80px 50px 50px 50px;
  -webkit-box-shadow: 20px 20px #F8FB05;
          box-shadow: 20px 20px #F8FB05;
}
form.messageForm .nameEmail {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
form.messageForm .nameEmail input {
  width: 48%;
  border: none;
  border-bottom: 1px solid #065635;
  padding: 15px 10px 15px 10px;
  background-color: #F5F5F5;
  margin-bottom: 50px;
}

::-webkit-input-placeholder {
  text-transform: uppercase;
  color: #151514;
  opacity: 1;
  letter-spacing: 0.1rem;
}

::-moz-placeholder {
  text-transform: uppercase;
  color: #151514;
  opacity: 1;
  letter-spacing: 0.1rem;
}

:-ms-input-placeholder {
  text-transform: uppercase;
  color: #151514;
  opacity: 1;
  letter-spacing: 0.1rem;
}

::-ms-input-placeholder {
  text-transform: uppercase;
  color: #151514;
  opacity: 1;
  letter-spacing: 0.1rem;
}

::placeholder {
  text-transform: uppercase;
  color: #151514;
  opacity: 1;
  letter-spacing: 0.1rem;
}

textarea {
  resize: none;
  width: 100%;
  height: 250px;
  padding: 30px;
  border: 1px solid #065635;
  margin-bottom: 50px;
}

.messageForm textarea {
  background-color: #F5F5F5;
}

/* stylistic changes for .commentForm */
form.commentForm {
  width: 100%;
  background-color: #E0FDDF;
}
form.commentForm .nameEmail {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
form.commentForm .nameEmail input {
  width: 48%;
  border: none;
  border-bottom: 1px solid #065635;
  padding: 15px 10px 15px 10px;
  background-color: #E0FDDF;
  margin-bottom: 50px;
}

.commentForm textarea {
  background-color: #E0FDDF;
}

footer {
  background-color: #151514;
}
footer p {
  color: #F5F5F5;
  text-align: center;
  padding: 5px 0;
}
footer p.bodyText {
  margin-bottom: 0;
}

@media (max-width: 1400px) {
  /* styling for header in contact.html and blog.html */
  header.contactHeader,
header.blogHeader {
    height: 45vh;
  }

  /* styling for index.html */
  .locations .wrapper {
    padding-bottom: 150px;
  }

  .contact .textContainer {
    margin-left: 70px;
  }
}
@media (max-width: 1100px) {
  /* styling for header */
  .homeHeader h2 {
    width: 60vw;
    background-color: rgba(245, 245, 245, 0.8);
    padding-top: 15px;
  }

  header img {
    bottom: 0;
  }

  header.contactHeader,
header.blogHeader {
    height: 40vh;
  }

  /* styling for contact.html */
  .contact form {
    position: static;
  }

  .contact .wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  /* styling for blog.html */
  .blogPost {
    position: static;
  }

  .comments .wrapper,
.commentForm .wrapper {
    width: 80vw;
  }
}
/* end for max-width 1100px */
@media (max-width: 810px) {
  section {
    padding: 60px 0 60px 0;
  }

  /* typography changes */
  h2 {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }

  h3 {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }

  p.bodyText {
    font-size: 0.9rem;
    line-height: 1.2rem;
  }

  /* styling for index.html */
  .homeHeader h2 {
    width: 70%;
    background-color: rgba(245, 245, 245, 0.8);
    padding-top: 15px;
  }

  header img {
    width: 50%;
    bottom: 0;
  }

  header.homeHeader {
    margin-bottom: 0;
  }

  .links ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .links ul li {
    width: 80%;
    margin: 0 auto;
  }

  /* styling .programs and .locations together */
  .programs,
.locations {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .programs .imgContainer,
.locations .imgContainer {
    position: static;
    width: 80%;
    margin: 0 auto 60px;
  }
  .programs .wrapper,
.locations .wrapper {
    width: 80%;
    padding: 0;
  }
  .programs .wrapper .textContainer,
.locations .wrapper .textContainer {
    text-align: center;
  }

  .programs .wrapper {
    padding-bottom: 0;
  }
  .programs .wrapper .textContainer {
    padding-bottom: 0;
  }

  .locations {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding-top: 0;
  }
  .locations .wrapper {
    padding-bottom: 60px;
  }

  .banner {
    height: 40vh;
  }

  /* header styling for contact.html and blog.html */
  header.contactHeader,
header.blogHeader {
    height: 30vh;
  }

  /* styling for contact.html */
  section.contact .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .contact form {
    position: static;
    width: 80%;
    margin: 0 auto;
  }

  form.messageForm {
    padding-top: 40px;
  }

  .contact .textContainer {
    padding-top: 60px;
  }

  /* styling for blog.html */
}
/* end of max-width 810px */
@media (max-width: 320px) {
  h2 {
    font-size: 1.2rem;
    line-height: 1.5rem;
    padding-left: 0;
    position: relative;
    bottom: 3rem;
    background-color: rgba(245, 245, 245, 0.8);
    padding: 10px;
  }

  header img {
    bottom: 0px;
  }
}